a            { text-decoration: none }

a:link, span.link
	     { color: #3355aa; background-color: transparent;
               font-weight: bold }

a:visited    {
    color: #334477;
    background-color: transparent;
    font-weight: bold
}

a:hover      { color: #0088FF; background-color: transparent }

a.pre { color: #404040 }
pre.text { color: #008 }
pre span.response { color: #753 }

body { font-family: helvetica, Arial, sans-serif;
       font-size: 11pt; color: #000000; text-align: left }

body { background-color: #f8f8f8 }
              /* #e6e6ff, #ece9d8  */

body.notes { width: 80ex }

table { background-color: transparent }

.announcements {
    background-color: #ffc;
    border-style: solid;
    border-width: 1px;
}

p, ul { text-indent: 1em; background-color: transparent; line-height: 1.4em }
p.math {text-indent: 0}
p.small { line-height: 1em }

li {
    text-indent: 0;
    background-color: transparent;
    margin: 4pt;
    line-height: 2.3ex
}

table.index li { margin: 0pt; line-height: 1em }

table.grid th, table.grid td, table.grid tr {
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    margin: 0px
}

span.nowrap { white-space: nowrap }

table.grid .push0 { 
    white-space: nowrap;
}
table.grid .push1 { 
    border-left-width: 4ex;
    border-left-style: solid;
    border-left-color: #ccc;
    white-space: nowrap;
}
table.grid .push2 { 
    border-left-width: 8ex;
    border-left-style: solid;
    border-left-color: #ccc;
    white-space: nowrap;
}
table.grid th.push1 { 
    text-align: left
}
table.grid th.push2 { 
    text-align: left
}

table.grid td.just {text-align: left}

table.grid td {
    border-top-style: none;
    border-left-style: none;
    text-align: center
}

table.grid th {
    background-color: transparent;
    text-align: center;
    border-top-style: none;
    border-left-style: none
}

table.grid td.outsidegrid, table.grid th.outsidegrid {
    border-style: none;
    background-color: transparent
}

table.grid td.f { background-color: #ff8080 }
table.grid td.t { background-color: #80ff80 }

table.grid th.case { text-align: left }

table.rule { padding: 0px; margin: 0px; text-align: center}
table.rule td.words { white-space: normal; font-size: 90%}
table.rule td { white-space:nowrap}
table.proof { padding: 0px; margin: 0px; text-align: center}
table.proof td.words { white-space: normal; font-size: 75%}
table.proof td { white-space:nowrap; font-size: 75%}

tr.ruletop > td {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

td.rulename {
    vertical-align: bottom;
    padding-right: 5ex;
    padding-bottom: 1.5ex
}

tr.rule > td {
    width: 100%;
    height: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

table.rule tr td {
    vertical-align: bottom;
    text-align: center;
    padding: 0 2ex 0 2ex
}

tr.topic td {
    background-color: #ddf;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}

p { margin: 0.7ex }
p.cont { text-indent: 0}

.examples { border-style: solid; border-width: 1px; border-color: #888;
             text-indent: 0; margin-left: 3em; padding-left: 1ex }

div.boxed { border-style: solid; border-width: 1px; border-color: black}
div.definition { border-style: solid; border-width: 1px; border-color: black;
                 padding: 2ex; margin: 2ex}
div.column { max-width: 80ex }
 
h1, h2, h3   { font-family: Arial, helvetica, sans-serif;
               color: #0055aa; background-color: transparent;
               text-align: left }

div.figure {text-align: center; max-width: 80ex }

strong, em { color: #000080 }

img.popup {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: fixed;
    display: block;
}

/* Use this style to highlight changes to problem sets */
.change      { color: #000000; background-color: #99CCFF }


/* Use this style to highlight HW items appearing in the schedule */
.hw          { color: #800000; font-weight:bold }


/* Use these styles to highlight SML code */
.comment     { color: #CC0000; background-color: transparent;
               font-weight: bold }

.string      { color: #339966; background-color: transparent}

.keyword     { color: #0000CC; background-color: transparent;
               font-weight: bold; }

.bnf         { color: #080; background-color: transparent;
               font-weight: bold; }

.codeback    { color: #000000; background-color: #dddddd;
               line-height: 14px }

.ampm        { font-variant: small-caps}


/* Use these styles for mathematics */
.math, .m    { color: black; font-family: Times New Roman, times, serif;
               font-size: 13pt; background-color: transparent }
pre .m { font-size: 10pt }

span.coursenumber { font-size: 300% }
/* Standard styles for headers, code, tt, etc. */
h1            { font-size: 18pt; }

h2            { font-size: 14pt; }

h3            { font-size: 12pt; }

pre, xmp      { font-family: Courier New, Courier, monospace;
                border-width: 1px;
		border-style: solid;
		background-color: #cddddd;
		border-color: #6dbdbd;
                margin-left: 1em;
                padding-left:0.2cm;
                padding-right:0.2cm;
		max-width: 100ex;
		white-space: pre;
                font-size: 10pt; }

pre.transparent { background-color: transparent;
		    color: #404040;
		    font-weight: bold}

table.pre { margin-left: 1em; }
table.pre td, table.pre th {
    background-color: #bddddd;
    font-family: Courier New, Courier, monospace, fixed
}

table.pre td { background-color: #bddddd; }
.correction { color: red; font-style: italic }
.additions { color: blue }

kbd, tt, code { font-family: Courier New, Courier, monospace;
                font-size: 11pt;
		font-weight: bold;
		color: #404040
		}

td            { font-family: Arial, helvetica, sans-serif;
                font-size: 11pt; }

th            { background-color: #ccc; font-weight: bold }
th.staff_column { text-align: center }
th.heading    { background-color: #ddf; font-weight: bold }

th.recitation { background-color: #ffd; text-align: center }
td.recitation { background-color: #FFF0e0 }
td.staff_info, td.instructor_info { padding: 0px 8px 0px 8px}
td.eventdate {
    background-color: #fdb;
    text-align: right;
}
td.event {
    background-color: #fdb;
    font-weight: bold
}
tr td.holiday {
		background-color: #ddc;
                text-align: center;
		font-style: italic;
		font-size: 90%;
	      }

table.formatting
              { background-color: transparent }
p.note
{background-color: #FF0000; color: #FFFFFF; font-weight: bold }
p.indented { padding-left: 3em }

.hilite {color: #048}
ol.problems li {margin-top: 1em; margin-bottom: 1em}
ol.problems p {margin-top: 1em; margin-bottom: 1em}
td.sidecond { padding-left: 5ex }
td.lecture_title { width: 100% }
