a            { text-decoration: none }

a:link       { color: #339966; background-color: transparent; 
               font-weight: bold }

/* a:visited    { color: #009999; background-color: transparent } */
a:visited    { color: #339966; background-color: transparent; font-weight: bold } 

a:hover      { color: #0000FF; background-color: transparent }

body, table, 
p, ul, li    { font-family: helvetica, sans-serif; 
               font-size: 11pt; color: #000000; text-align: left }

body         { background-color: #fffafa }
              /* #e6e6ff, #ece9d8  */

table        { background-color: transparent }

p, ul, li    { background-color: transparent }

h1, h2, h3   { font-family: Arial, helvetica, sans-serif; 
               color: #006699; background-color: transparent; 
               text-align: left }


/* Use this style to highlight changes to problem sets */
.change      { color: #000000; background-color: #99CCFF }


/* Use this style to highlight HW items appearing in the schedule */
.hw          { color: #800000; font-weight:bold }


/* Use these styles to highlight SML code */
.comment     { color: #CC0000; background-color: transparent; 
               font-weight: bold }

.string      { color: #339966; background-color: transparent}

.keyword     { color: #0000CC; background-color: transparent; 
               font-weight: bold; }

.codeback    { color: #000000; background-color: #dddddd; 
               line-height: 14px }

.ampm        { font-variant: small-caps}


/* Use these styles for for mathematics */
.math        { color: black; font-family: Times New Roman, serif; 
               font-size: 13pt; background-color: transparent }

.symbol      { font-family: Symbol, symbol }bd
/* Standard styles for headers, code, tt, etc. */
h1            { font-size: 18pt; }

h2            { font-size: 14pt; }

h3            { font-size: 12pt; }

pre, xmp      { font-family: Courier New, Courier, monospace; 
                background-color: #bddddd;
                margin-left: 1em; 
                padding-left:0.2cm; 
                padding-right:0.2cm; 
                margin-left: 1em; font-size: 11pt }

kbd, tt, code { font-family: Courier New, Courier, monospace; 
                font-size: 11pt }

td            { font-family: Arial, helvetica, sans-serif; 
                font-size: 11pt; }

th            { background-color: #CCFFFF; font-weight: bold }

td.recitation { background-color: #FFF0d0 }

table.formatting 
              { background-color: transparent }